[submodule ".\\dependencies\\spdlog"]
	path = .\\dependencies\\spdlog
	url = https://github.com/gabime/spdlog.git
[submodule ".\\dependencies\\glfw"]
	path = .\\dependencies\\glfw
	url = https://github.com/glfw/glfw.git
[submodule ".\\dependencies\\glm"]
	path = .\\dependencies\\glm
	url = https://github.com/g-truc/glm.git
[submodule ".\\dependencies\\yaml-cpp"]
	path = .\\dependencies\\yaml-cpp
	url = https://github.com/jbeder/yaml-cpp.git
[submodule ".\\dependencies\\entt"]
	path = .\\dependencies\\entt
	url = https://github.com/skypjack/entt.git
[submodule ".\\dependencies\\portable-file-dialogs"]
	path = .\\dependencies\\portable-file-dialogs
	url = https://github.com/samhocevar/portable-file-dialogs.git
[submodule ".\\dependencies\\assimp"]
	path = .\\dependencies\\assimp
	url = https://github.com/assimp/assimp.git
